{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ango", "Anka", "Barl", "Beate", "Benno", "Bitta", "Bregg", "Burche", "Bursto", "Clote", "Croa", "Croe", "Cronad", "Daff", "Della", "Dole", "Dren", "Ebbi", "Ford", "Fregg", "Frett", "Gabb", "Gobb", "Gil", "Glore", "Golb", "Goller", "Grett", "Gurn", "Hegg", "Nette", "Robi", "Rolla", "Rollo", "Taggo", "Ugett" ]
    ]
  ]
}